@keyframes spin {
    0% { 
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

#chart ,#player-banner, body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(0,0,0, 0.5) 50%, transparent 100%), url(https://www.nba.com/assets/logos/teams/primary/web/BKN.svg);
    background-color: rgb(0,0,0);
}

body {
    font-family: Arial;
    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.6) 100%),url(assets/court_floor.jpg);
    background-attachment: fixed;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

#player-banner {
    border: 1px solid #000;
    width: 45em;
    height: 10em;
    margin: 1em auto;
    position: relative;
    filter: brightness(80%);
}

#player-banner div {
    height: 11em;
    width: 15em;
}

#player-banner img {
    height: 9.5em;
    width: 13em;
    position: absolute;
    bottom: 0;
    filter: brightness(125%);
}

#banner-info {
    color: #fff;
    font-weight: 700;
    padding: 2em 0;
}

.banner-stats {
    color: #fff;
    position: absolute;
    right: 0;
    margin-top: .5em;
    width: 9em!important;
}

.banner-stats p {
    margin: .5em;
    font-weight: 700;
}

.banner-name,td {
    margin: 0;
}

#banner-first {
    font-size: 1.5em;
}

#banner-last {
    font-size: 2em;
}

h2 {
    text-align: center;
    margin: 1em auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
}

#chart {
    border-collapse: collapse;
    background-image: url(assets/the_court.jpg);
    border: 1px solid #000;
    margin: .5em auto;
}

#name {
    font-weight: 700;
    font-size: 1.5em;
    margin: .5em auto .25!important;
}

td {
    padding: 0;
    width: .9em;
    height: .9em;
}

input,select, button {
    height: 3em;
    font-size: 1em;
}

input {
    padding-left: .5em;
    width: 30%;
}

select {
    width: 20%;
}

button {
    width: 7%;
}

#form-wrapper {
    width: 45em;
    margin: 1em auto;
}

#load-msg {
    display: none;
    text-align: center;
}

#loader {
    display: none;
    border: .5em solid #f3f3f3;
    border-radius: 50%;
    border-top: .5em solid #3498db;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 9em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -4.5em;
    opacity: 0;
    transition: opacity .3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}