body {
  font-family: Arial;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%), url('court_floor.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-align: center;
}

#map {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-image: url('the_court.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

td {
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
}

#name-and-save {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#save-button {
  margin-left: 12%;
  height: 2em;
}

#chart-description {
    font-family: Arial;
    text-align: center;
    display: inline;
    margin-left: 20%;
    font-weight: bold;
}

input {
    height: 3em;
    width: 41%;
    font-size: 1em;
    padding-left: 0.5em;
}

select {
  height: 3em;
  font-size: 1em;
  width: 19%;
}

#form-wrapper {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
}

#load-msg {
  display: none;
  text-align: center;
}

#loader {
    border: 0.5em solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.5em solid #3498db;
    width: 1em;
    height: 1em;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
  }

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 8em;
  margin-left: -4em;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }